<div class="row">
    <div class="col-sm-12 col-md-12 p-0">
        <!-- Testimonials slider quoter style -->
        <div class="testimonial_slider__carousel-wrapper slim-margin">
            <f:if condition="{data.tx_mask_zitat}">
                <f:format.nl2br>{data.tx_mask_zitat}</f:format.nl2br>
            </f:if>
            <f:if condition="{data.tx_mask_author}">
                <div class="text-right">
                     {data.tx_mask_author}
                </div>

            </f:if>
        </div>
    </div>
</div>


