/*

SLS Maincolors
gray =  #797978
red = #b20f24


 */

.ansprechpartner h3 {
    padding: 9px 14px;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #797978;
    color:#fff;

}

.ansprechpartner .kontaktdetails {
    background: #797978;
    color:#fff;
    font-size:12px;
    padding:15px 5px 5px 15px;
    min-height:121px;
}

.ansprechpartner img {
    min-height:121px;
}

.ansprechpartner .kontaktdetails .ptitle{
    font-size:18px;
}

.ansprechpartner .kontaktdetails a{
    color:#fff;
}

.ansprechpartner .kontaktdetails a:hover{
    color:#b20f24;
}


.mainContent {
    background: rgba(245, 245, 245, 0.93);
    position: relative;
    margin-bottom:0px !important;
    padding: 15px 15px 20px 15px;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 0px solid #000000;
}

.testimonial{
    margin: 0 20px 0px;
}
.testimonial .testimonial-content{
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
}
.testimonial .testimonial-content:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}
.testimonial-content .testimonial-icon{
    width: 50px;
    height: 45px;
    background: #b20f24;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}
.testimonial-content .testimonial-icon:before{
    content: "";
    border-bottom: 16px solid #b20f24;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}
.testimonial .description{
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
}
.testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #b20f24;
}
.owl-theme .owl-controls{
    margin-top: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-dot .active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #b20f24;
}

.pswp {
    display:none;
}


#menu-main-menu ul.minusmargin {
    margin-top: -40px;
}

/* ==========================================================================
** Responsive styles custom rules
* These rules are ready to be used for either overrides
* or just your own custom rules.
========================================================================== */


/** Higher screens+ **/
@media only screen and (min-width : 1921px){
    .ansprechpartner .kontaktdetails {
        margin-right:-20px;
    }
}


/** Desktop+ **/
@media (min-width: 1200px) {
    .ansprechpartner .kontaktdetails {
        margin-right:-20px;
    }


}


/** Laptop **/
@media (max-width: 1200px) {

}


/** Laptop+ **/
@media (min-width: 991px) {

}


/** Laptop **/
@media (min-width: 992px) and (max-width: 1199px) {

}


/** Large Tablets **/
@media (max-width: 992px) {

}


/** Tablets (landscape mode)  **/
@media (min-width: 768px) and (max-width: 991px) {

}


/** Tablets+  **/
@media (min-width: 768px) {

}


/** Tablets (portrait mode)  **/
@media (min-width : 481px) and (max-width : 768px) {

}


/** Smartphone landscape mode / Mini Tablet **/
@media (max-width: 767px) {

}


/** Smartphone landscape mode / Mini Tablet **/
@media (max-width: 600px) {

}


/** Smartphone portrait mode **/
@media (max-width: 480px) {

}


/** Normal phone portrait mode+ **/
@media (min-width: 320px) {
	
}