/* Logo with InfoCard on Hover */
.logo-container.hasInfoCard {position: relative;}
.boxed .logo-container.hasInfoCard:before {display: none;}
.logo-container .logo-infocard {position: absolute; left: 0; top: 100%; margin-top: 20px; width: 500px; border-radius: 2px; font-size: 0.9rem; display: none; visibility: hidden; opacity: 0; box-shadow:  0 2px 3px rgba(0, 0, 0, 0.4); -webkit-transition: all 0.15s ease-out; transition: all 0.15s ease-out; -webkit-transition-delay: .3s; transition-delay: .3s; -webkit-backface-visibility: hidden; z-index: 1;}
.logo-container:hover .logo-infocard {visibility: visible; opacity: 1; margin-top: 10px; -webkit-transition-delay: 0s; transition-delay: 0s; z-index: 2;}
.logo-container .logo-infocard .left-side {background-color: #ffffff; padding: 40px 25px; color:#797978}
.logo-container .logo-infocard .right-side {background-color: #b20f24; padding: 30px 35px;}
.logo-container .logo-infocard .map-link {display: inline-block; border: 1px solid #fff; color: #fff; padding: 5px 9px; font-weight: 600; border-radius: 3px;}
.logo-container .logo-infocard .map-link:hover {border: 1px solid rgba(255,255,255,.7);}

.logo-infocard,
.logo-infocard a {color: #FFF; font-weight: normal; line-height: 1.6;}
.logo-infocard a:hover {color: rgba(255,255,255,.7);}
.logo-infocard p:last-child {margin-bottom: 0;}
.logo-infocard .social-icons {margin-left: 0; padding-left: 0;}
.logo-infocard .social-icons li {margin:0;}
.logo-infocard .social-icons li.title {margin-right: 10px;font-size: 15px;}
.logo-infocard .social-icons li a {background-color:transparent; box-shadow: none;}
.logo-infocard .social-icons li a:hover {opacity:.7;}