<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
  <header>
    <f:if condition="{data.header}">
      <h2 class="element-header ">
        {data.header}
      </h2>
    </f:if>
    <f:if condition="{data.subheader}">
      <h3 class="element-subheader "><span>{data.subheader}</span></h3>

    </f:if>
  </header>
    <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <!-- Text box -->
      <div class="text_box">
        <f:if condition="{data.tx_mask_beschreibung}">
          <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.tx_mask_beschreibung}</f:format.html><br />
        </f:if>
      </div>
      <!--/ Text box -->
    </div>
      <div class="col-sm-12 col-md-12 col-lg-4  kl-title-block text-left tbk-symbol--line_border">
          <div class="ansprechpartner">
            <div class="row">
              <div class="col-lg-12">
                <h3>Der Ansprechpartner</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-7 col-md-7">
                <div class="kontaktdetails">
                  <f:if condition="{data.tx_mask_ansprechpartner_name}">
                    <span class="ptitle">{data.tx_mask_ansprechpartner_name}</span>
                    <br/>
                  </f:if>
                  <p> {data.tx_mask_ansprechpartner_telefon} | <f:link.email email="{data.tx_mask_ansprechpartner_email}" > <i class="fa fa-envelope"></i></f:link.email></p>
                    <f:if condition="{data.media}">
                      <f:for each="{data.media}" as="file">
                        <p><a href="fileadmin/{file.identifier}"><i class="fa fa-id-card"></i> vCard herunterladen</a></p>
                      </f:for>
                    </f:if>



                </div>

              </div>
              <div class="col-5 col-md-5">
                <f:if condition="{data.tx_mask_ansprechpartnerbild}">
                  <f:for each="{data.tx_mask_ansprechpartnerbild}" as="file">
                    <div class="ansprechpartner_image">
                      <f:image image="{file}" alt="{file.alternative}" title="{file.title}" height="120c"/>
                    </div>

                  </f:for>
                </f:if>
              </div>
            </div>
          </div>


      </div>

    </div>





</div>
</div>









