<div class="row pt-10">
    <div class="col-sm-12 col-md-12">
        <!-- Title element with custom styles -->

            <!-- Title with custom size, weight and template color style -->
            <f:if condition="{data.header}">
                <h2 class="element-header  tcolor">{data.header} </h2>
            </f:if>

            <f:if condition="{data.subheader}">
                <h4 class="tbk__subtitle fs-xn">{data.subheader}</h4>
            </f:if>
            <!--/ Sub-title with custom size -->

        <!--/ Title element with custom styles -->
    </div>
    <!--/ col-sm-12 col-md-12 -->
</div>