<div class="kl-slideshow kl-slideshow-css3panels">
    <!-- Fake loading -->
    <div class="fake-loading loading-1s">
    </div>
    <!-- CSS3 Panels container with custom height -->
    <div class="css3panels-container css3panels--resize cssp-capt-animated cssp-capt-fadeout" data-panels="4" style="height:400px">

        <f:if condition="{data.tx_mask_sliderpanels}">
            <f:for each="{data.tx_mask_sliderpanels}" as="data_item" iteration="objIterator">
                <div class="css3panel css3panel--{objIterator.cycle} cp-theme--light">
                <f:cObject typoscriptObjectPath="lib.tx_mask.content">{data_item.uid}</f:cObject>
                </div>
            </f:for>
        </f:if>
    </div>
    <div class="clearfix">
    </div>

</div>





