
  <!-- Panel wrapper with custom height -->
  <div class="css3panel-inner" style="height:700px">
    <!-- Main image wrapper with custom height -->
    <div class="css3panel-mainimage-wrapper" style="height:700px">
      <!-- Background main image -->
      <f:if condition="{data.image}">
        <f:for each="{data.image}" as="file">
          <div style="background-image:url(fileadmin{file.identifier});" class="css3panel-mainimage">
            <div style="background-image:url(fileadmin{file.identifier});" class="css3panel-mainimage css3panel-mainimage-effect anim--grayscale">
            </div>
        </f:for>
      </f:if>
             <!-- Blured image -->
        <!-- Gradient/Color overlay -->
        <div class="css3p-overlay css3p-overlay--gradient" style="">
        </div>
      </div>
      <!--/ Background main image -->
    </div>
    <!--/ Main image wrapper with custom height -->
  </div>
  <!-- Panel wrapper with custom height -->

  <!-- Caption -->
  <div class="css3panel-caption">
    <!-- Link with title -->
    <f:if condition="{data.header}">
      <a href="#" target="_self" title=" {data.header}">
        <h3 class="css3panel-title ff-alternative title-size-normal">
          {data.header}
        </h3>
      </a>
    </f:if>

    <!--/ Link with title -->

    <!-- Description -->
    <div class="css3panel-text">
      <f:if condition="{data.bodytext}">
        <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
      </f:if>
    </div>
    <!--/ Description -->

    <!-- Button -->
    <f:if condition="{data.tx_mask_infolink}">
      <div class="css3panel-btn-area">
        <f:link.typolink parameter="{data.tx_mask_infolink}" class="btn btn-fullcolor btn-skewed" target="_self">Weitere Infos</f:link.typolink><br />
        <!-- Button skewed full color skewed style -->

      </div>

    </f:if>


  </div>
  <!--/ Caption -->