




<div class="row">
  <div class="leader_item">
    <div class="leeader_item_header">
      <f:if condition="{data.header}">
        <h3 class="tcolor"> {data.header}</h3>
      </f:if>
      <f:if condition="{data.subheader}">
        <h4>{data.subheader}</h4>
      </f:if>
    </div>
    <div class="leader_item_body">
      <div class="row">
        <div class="col-12 col-sm-5">
          <f:if condition="{data.image}">
            <f:for each="{data.image}" as="file">
              <f:image image="{file}" alt="{file.alternative}" title="{file.title}" class="leader_item_image" />
            </f:for>
          </f:if>
        </div>
        <div class="col-12 col-sm-7">
          <f:if condition="{data.bodytext}">
            <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{data.bodytext}</f:format.html>
          </f:if>
        </div>
      </div>
    </div>
  </div>
</div>

