<footer id="footer" data-footer-style="1">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 mb-30">
                <!-- Title -->
                <h3 class="title m_title">
                    NAVIGATION
                </h3>

                <div class="sbs">
                    <f:cObject typoscriptObjectPath="lib.footerNav" />
                </div>
            </div>
            <!--/ col-sm-12 col-md-5 mb-30 -->

            <div class="col-sm-12 col-md-4 mb-30">
                <div class="newsletter-signup">
                    <!-- Title -->
                    <h3 class="title m_title">
                        NEWSLETTER
                    </h3>

                    <p>
                        Tragen Sie sich in unseren kostenlosen Newsletter ein.
                    </p>
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '44', colPos: '0'}"/>

                </div><!-- end newsletter-signup -->
            </div>
            <!-- col-sm-12 col-md-4 mb-30 -->

            <div class="col-sm-12 col-md-4 mb-30">
                <!-- Title -->
                <h3 class="title m_title">
                    KONTAKT
                </h3>
                <!-- Contact details -->
                <div class="contact-details">
                    <p>

                        <a href="mailto:leidenschaft@sls-mediatecgroup.com">leidenschaft@sls-mediatecgroup.com</a><br/>
                        +49 (0) 7964 / 92990-0
                    </p>

                    <p>
                        Konradsbronner Straße 19<br>
                        73499 Wört
                    </p>

                </div>
                <!--/ .contact-details -->
            </div>
            <!--/ col-sm-12 col-md-3 mb-30 -->
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="bottom clearfix">
                    <!-- social-icons -->
                    <div class="social-icons sc--clean clearfix">
                        <html xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper">
                        <rx:shariff data="{url: 'https://sls-mediatecgroup.com/', button-style: 'icon'}" services="facebook,linkedin,xing,twitter,whatsapp" />
                        </html>
                    </div>
                    <!--/ social-icons -->

                    <!-- copyright -->
                    <div class="copyright">
                        <p>
                            Technik mit Leidenschaft.
                        </p>
                    </div>
                    <!--/ copyright -->
                </div>
                <!--/ bottom -->
            </div>
            <!--/ col-sm-12 -->
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
</footer>
<a href="#" id="totop" class="show"></a>