<header id="header" class="site-header cta_button" data-header-style="3">
    <!-- Header wrapper -->
    <div class="kl-main-header">
        <!-- Header Top wrapper -->


        <!-- Header Main wrapper -->
        <div class="site-header-main-wrapper d-flex">
            <!-- Header Main container -->
            <div class="siteheader-container container align-self-center">
                <!-- Header Main row -->
                <div class="site-header-row site-header-main d-flex flex-row justify-content-between">
                    <!-- Header Main Left Side -->
                    <div class="site-header-main-left col d-flex justify-content-start align-items-center">
                        <!-- Header search -->

                        <!--/ Header search -->
                    </div>
                    <!--/ Header Main Left Side -->

                    <!-- Header Main Center Side -->
                    <div class="site-header-main-center col d-flex justify-content-center align-items-center">
                        <!-- Logo container-->
                        <div class="logo-container hasInfoCard logosize--yes d-flex">
                            <!-- Logo -->
                            <h1 class="site-logo logo align-self-center" id="logo">

                                    <f:link.page pageUid="1">
                                        <f:image src="EXT:sls_mediatecgroup/Resources/Public/Images/logos/{logoName}.svg" class="logo-img" alt="SLS Mediatecgroup" title="SLS Mediatecgroup" />
                                    </f:link.page>


                            </h1>
                            <!--/ Logo -->
                        </div>
                        <!--/ logo container-->
                    </div>
                    <!--/ Header Main Center Side -->

                    <!-- Header Main Right Side -->
                    <div class="site-header-main-right col d-flex justify-content-end align-items-center">
                        <!-- Shopping Cart -->
                    </div>
                    <!--/ Header Main Right Side -->
                </div>
                <!--/ .site-header-row .site-header-main -->

                <!-- Header Separator -->
                <div class="separator"></div>
            </div>
            <!--/ Header Main container -->
        </div>
        <!--/ Header Main wrapper -->

        <!-- Header Bottom wrapper -->
        <div class="site-header-bottom-wrapper">
            <!-- Header Bottom container -->
            <div class="siteheader-container container">
                <!-- Header Bottom row -->
                <div class="site-header-row site-header-bottom d-flex flex-row justify-content-center">
                    <!-- Main Menu wrapper -->
                    <div class="main-menu-wrapper col">
                        <!-- Responsive menu trigger -->
                        <div id="zn-res-menuwrapper">
                            <a href="#" class="zn-res-trigger zn-header-icon"></a>
                        </div>
                        <!--/ responsive menu trigger -->

                        <!-- Main menu -->
                        <f:cObject typoscriptObjectPath="lib.mainNav" />
                        <!--/ Main menu -->
                    </div>
                    <!--/ .main-menu-wrapper .col -->

                </div>
                <!--/ .site-header-row .site-header-bottom -->
            </div>
            <!--/ Header Bottom container -->
        </div>
        <!--/ Header Bottom wrapper -->
    </div>
    <!--/ Header wrapper -->
</header>