<div class="kl-bg-source__bgimage" style="background-image: url(/<f:cObject typoscriptObjectPath='lib.pageImage' />); background-repeat: no-repeat; background-attachment: fixed; background-position-x: center; background-position-y: top; background-size: cover;">
</div>
<div class="kl-slideshow static-content__slideshow static-simpletext ">
    <div class="bgback"></div>

    <!-- Static content wrapper with fade mask -->
    <div class="kl-slideshow-inner static-content__wrapper sc--has-fade-mask">
        <!-- Static content background source -->
        <div class="static-content__source ">
            <!-- Background -->
            <div class="kl-bg-source">

                <!--/ Gradient overlay -->
            </div>
            <!--/ Background -->

            <!-- Animated Sparkles -->
            <div class="th-sparkles"></div>

    </div>
        <!--/ .static-content__source -->

        <!-- Static content container -->
        <div class="static-content__inner container">
            <!-- Container and safe padding default top 150px -->
            <div class="kl-slideshow-safepadding sc__container">
                <!-- Static content simple light style -->
                <div class="static-content static-content--simple scs--theme-light">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Title with custom font size -->
                            <h2 class="fs-xxxl">
                                                 </h2>
                            <!-- Sub-title with custom font size and bottom magin -->
                            <!--<h3 class="fs-xl mb-20">
                                <span class="fw-thin">{pagetitle}</span>
                            </h3>-->
                            <!-- Sub-title with custom font size and bottom magin -->

                            <!-- Sub-title "can be used" -->
                        </div>
                        <!--/ col-sm-12 -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ static content simple light style -->
            </div>
            <!--/ Container and safe padding default top 150px -->
        </div>
        <!-- /.static-content__inner -->
    </div>
    <!--/ .static-content__wrapper .sc--has-fade-mask -->
</div>