<div class="kl-slideshow static-content__slideshow static-simpletext nobg">
    <div class="bgback"></div>

    <!-- Static content wrapper with fade mask -->
    <div class="kl-slideshow-inner static-content__wrapper sc--has-fade-mask">
        <!-- Static content background source -->
        <div class="static-content__source ">
            <!-- Background -->
            <div class="kl-bg-source">
                <!-- Background image -->
                <div class="kl-bg-source__bgimage" style="background-image: url(/<f:cObject typoscriptObjectPath='lib.pageImage' />); background-repeat: no-repeat; background-attachment: fixed; background-position-x: center; background-position-y: top; background-size: cover;">
                </div>
                <!-- Background image -->

                <!-- Gradient overlay -->
                <div class="kl-bg-source__overlay" style="background: rgba(57,34,8,0.7); background: -moz-linear-gradient(left, rgba(57,34,8,0.7) 0%, rgba(29,36,76,0.7) 100%); background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(57,34,8,0.7)), color-stop(100%,rgba(29,36,76,0.7))); background: -webkit-linear-gradient(left, rgba(57,34,8,0.7) 0%,rgba(29,36,76,0.7) 100%); background: -o-linear-gradient(left, rgba(57,34,8,0.7) 0%,rgba(29,36,76,0.7) 100%); background: -ms-linear-gradient(left, rgba(57,34,8,0.7) 0%,rgba(29,36,76,0.7) 100%); background: linear-gradient(to right, rgba(57,34,8,0.7) 0%,rgba(29,36,76,0.7) 100%); ">
                </div>
                <!--/ Gradient overlay -->
            </div>
            <!--/ Background -->

            <!-- Animated Sparkles -->
            <div class="th-sparkles"></div>
            <!--/ Animated Sparkles -->

            <!-- Bottom mask style fade -->
            <div class="sc__fade-boxed-mask">
                <div class="sc__boxed-mask">
                </div>
                <div class="sc__fade-mask">
                </div>
            </div>
            <!--/ Bottom mask style fade -->
    </div>
        <!--/ .static-content__source -->

        <!-- Static content container -->
        <div class="static-content__inner container">
            <!-- Container and safe padding default top 150px -->
            <div class="kl-slideshow-safepadding sc__container">
                <!-- Static content simple light style -->
                <div class="static-content static-content--simple scs--theme-light">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Title with custom font size -->
                            <h2 class="fs-xxxl">
                                                 </h2>
                            <!-- Sub-title with custom font size and bottom magin -->
                            <!--<h3 class="fs-xl mb-20">
                                <span class="fw-thin">{pagetitle}</span>
                            </h3>-->
                            <!-- Sub-title with custom font size and bottom magin -->

                            <!-- Sub-title "can be used" -->
                        </div>
                        <!--/ col-sm-12 -->
                    </div>
                    <!--/ row -->
                </div>
                <!--/ static content simple light style -->
            </div>
            <!--/ Container and safe padding default top 150px -->
        </div>
        <!-- /.static-content__inner -->
    </div>
    <!--/ .static-content__wrapper .sc--has-fade-mask -->
</div>